<main class="container>
<section role="region">
    <div class="h1-container">
		<h2>Temp <i class="fa fa-camera-retro" aria-hidden="true"></i></h2>
    </div>
     <section role="region" class="headingp">
        <div class="container">
         <div class="row">
            <div class="col-sm-4 picture">
                <a ui-sref="location"><img src="../images/temp1.png"></img></a>
            </div>
            <div class="col-sm-4">
                <img src="../images/folder.png"></img>
            </div>
            <div class="col-sm-4">
                   <img src="../images/folder.png"></img>
            </div>
        </div>
    </div>
    </section>
		
	</section>
</main>