<div class="h1-container">
		<h2>Search  <i class="fa fa-hashtag" aria-hidden="true"></i></h2>
</div>
<br>
		<section role="region">
			<div class="search input-group">
				<input class="form-control" type="text" name="search" ng-model="searchTerm" placeholder="Search by hashtag...">
				<span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
			</div>
		</section>
	</section>
</main>

