<main class="container ng-show="isSignedIn">
	<section role="region">
		<h2><i class="fa fa-folder-open-o" aria-hidden="true"></i> My Categories</h2>

		<section role="region">
			<div class="search input-group">
				<input class="form-control" type="text" name="search" ng-model="searchTerm" placeholder="Search...">
				<span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
			</div>
		</section>
	</section>
</main>
