body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#fafafa;
}
.nav-div{
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}
.navbar{
  align-items: center;
  background-color: #FFFFFF;
  border-bottom: 1px solid #dbdbdb;
  max-height: 4.5em;

}
.nav-links{
  align-items:center;
  padding-top:.5em;
  padding-bottom:.5em;
}
a {
  color: #999;
}
h1 {
  font-family: 'Lobster', bold;
   color:#125688;
}
.coreSpriteDesktopNavActivity{
  background-image: url(//instagramstatic-a.akamaihd.net/h1/sprites/core/f60ff7.png);
  background-repeat:no-repeat;
  background-position: -610px -585px;
  height: 24px;
  width:24px;
}
.coreSpriteDesktopNavExplore {
  background-image: url(//instagramstatic-a.akamaihd.net/h1/sprites/core/f60ff7.png);
  background-repeat: no-repeat;
  background-position: -630px -321px;
  height: 24px;
  width: 24px;
}
.coreSpriteMobileNavProfileActive {
  background-image: url(//instagramstatic-a.akamaihd.net/h1/sprites/core/f60ff7.png);
  background-repeat: no-repeat;
  background-position: -584px -585px;
  height: 24px;
  width: 24px;
}

.coreSpriteMobileNavProfileInactive {
  background-image: url(//instagramstatic-a.akamaihd.net/h1/sprites/core/f60ff7.png);
  background-repeat: no-repeat;
  background-position: -636px -585px;
  height: 24px;
  width: 24px;
}
.navbar-brand{
font-family:'proxima-nova';
}
